:root.theme-dark {
  /*page colors*/

  --decor-elem-color: var(--red);
  --accent-color: var(--red);
  --outline-color: var(--crimson);
  --heading-color: var(--violet);
  --title-decor: var(--black);
  --content-title-color: var(--red);
  --text-color: var(--pink);
  --bg-color: var(--black);
  --button-color: var(--red);

  /*shadows*/

  --lightbulb-shadow: 0 0 4px 2px var(--accent-color);
  --heading-text-shadow-1: 4px 4px 0 var(--accent-color);
  --heading-text-shadow-2: 2px 2px 0 var(--red);
  --link-shadow: 2px 2px 0 var(--accent-color);

  /*images*/

  --bg-image: url(../images/cover-image-dark.png);
}
