:root.theme-light {
  --decor-elem-color: var(--grey);
  --accent-color: var(--pink-2);
  --outline-color: var(--grey-2);
  --heading-color: var(--pink-3);
  --title-decor: var(--grey);
  --content-title-color: var(--grey);
  --text-color: var(--grey);
  --bg-color: var(--white);
  --button-color: var(--grey);

  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .page .lightbulb {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --decor-elem-color: var(--grey);
    --accent-color: var(--pink-2);
    --outline-color: var(--grey-2);
    --heading-color: var(--pink-3);
    --title-decor: var(--grey);
    --content-title-color: var(--grey);
    --text-color: var(--grey);
    --bg-color: var(--white);
    --button-color: var(--grey);

    --bg-image: url(../images/cover-image-light.png);
  }

  .page .lightbulb {
    display: none;
  }
}
